.detailContainer {
  display: flex;
}

@media only screen and (max-width: 769px) {
  .detailContainer {
    flex-direction: column;
  }
  .cartContainer {
    flex-direction: column;
  }

  .leftContainer {
    min-width: 98%;
    position: relative;
  }

  .orderContainer {
    position: relative;
  }

  .rightContainer {
    width: 98%;
    margin-top: 5%;
  }
}

.detailImgContainer {
  margin: 5%;
}

.detailInfoContainer {
  margin: 5%;
}

.detailImg {
  width: 330px;
  height: 500px;
}

.detailTittle {
  font-family: fangsong;
  margin-top: 5%;
  font-size: 25px;
}

.detailAuthor {
  font-size: 15px;
  font-family: sans-serif;
  color: darkgreen;
}

.detailPrice {
  border-top: 1px solid #ccc;
  font-size: 22px;
  margin-top: 9%;
}

.detailCategory {
  font-size: 13px;
}

.detailResume {
  margin-top: 3%;
  font-size: 14px;
}
