/* CSS for "Count.js" starts here */
.containerCount {
  width: 60%;
  padding: 0px;
}

.addBtnCount{
  background-color: rgb(241, 240, 240);
    width: 100%;
}

.borderCount {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textCount {
  margin-bottom: 0px;
}

.btnCount {
  margin-left: 50px;
  margin-right: 50px;
  color: blue;
  font-size: 25px;
}

/* CSS for "Item.js" starts here */
.cardContainer {
  width: 170px;
  margin: 50px;
  display: inline-block;
}

.cardTittle{
  text-align: center;
  font-size: 13px;
  height: 40px;
}

.cardImgContainer{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.cardImg{
  width: 80%;
  height: 197px;
  margin: 15px
}

.cardBtn {
  width: 170px;
  background-color: whitesmoke;
}

.cardBtn:hover {
  background-color: lightgrey;}

.cardBtn:focus{
  background-color: lightgrey;}

/* CSS for "App.js" starts here*/
.booksContainer{
  padding-left: 5%;
  padding-top: 2%;
}


/* CSS for "NavBar starts here */
.navbar{
  background-color:rgb(240, 235, 222);
}
.nav-link{
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(46, 39, 36);
  font-size: 15px;
}

.nav-link:hover {
  color:darkblue;}

.nav-link:focus{
  color:darkblue;}

 
/* CSS for "Banner" starts here */
.bannerContainer{
  width: 100%;
}


/* CSS for "ItemDetail" starts here */
.detailContainer{
  display: flex;
}

@media only screen and (max-width: 769px){
  .detailContainer{
    flex-direction: column;
  }
}

.detailImgContainer{
  margin: 5%;
}

.detailInfoContainer{
  margin: 5%;
}

.detailImg{
  width: 330px;
  height: 500px;
}

.detailTittle{
  font-family: fangsong;
  margin-top: 5%;
  font-size: 25px;
}

.detailAuthor{
  font-size: 15px;
  font-family: sans-serif;
  color: darkgreen;
}

.detailPrice{
  border-top: 1px solid #ccc;
  font-size: 22px;
  margin-top: 9%;
}

.detailCategory{
  font-size: 13px;
}

.detailResume{
  margin-top: 3%;
  font-size: 14px;
}

/* CSS for "Banner" starts here */
.bannerContainer{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  justify-items: center;
  align-items: center;
  width: 70%;
  margin-bottom: 3%;
}

.bannerHeader{
  align-items: center;
  justify-items: center;
  margin: 2%;
  text-align: center;
}

.bannerText{
  align-items: center;
  justify-items: center;
  margin: 2%;
  text-align: center;
}