/* CSS for "Count.js" starts here */
.containerCount {
  width: 170px;
  padding: 0px;
  background-color: lightgray;
}

.borderCount {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.textCount {
  margin-bottom: 0px;
}

.btnCount {
  margin-left: 50px;
  margin-right: 50px;
  color: blue;
  font-size: 25px;
}

/* CSS for "Item.js" starts here */
.cardContainer {
  width: 170px;
  margin: 50px;
  display: inline-block;
}

.cardTittle{
  text-align: center;
  font-size: 13px;
  height: 40px;
}

.cardImgContainer{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.cardImg{
  width: 80%;
  height: 197px;
  margin: 15px
}

.cardBtn {
  width: 170px;
  background-color: lightslategray;
  color: white;
}

/* CSS for "App.js" starts here*/
.booksContainer{
  padding-left: 5%;
  padding-top: 5%;
}

.navbar{
  background-color: lightgray;
}