.header {
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
}

.header h2 {
  margin: 0;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form button {
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.orderModal{
  display: flex;
}

.textModal {
  text-align: center;
  margin: 30px;
  color: rgb(16, 173, 16);
}

.orderModalSummery {
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 1%;
  height: 210px;
}

.orderTittleModal {
  font-size: 25px;
  font-family: fangsong;
}

.orderTextModal {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 3px;
}

.totalPriceModal {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}


.itemModalContainer {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 2%;
  margin: 10px;
  justify-content: space-around;
}

.itemModalImg {
  width: 100px;
  height: 130px;
}

.itemModalInformation {
  margin-left: 3%;
  max-width: 150px;
}

.itemModalTittle {
  font-family: fangsong;
}

.itemModalPrice {
  border-top: 1px solid #ccc;
  font-size: 22px;
  margin-top: 2%;
}

.itemModalInStock {
  font-size: 11px;
  margin-top: 5%;
}

.loginForm {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  color: dimgrey;
}

